  <div id='showbox'>
    <%= receipt.title %>
    <%= receipt.content %>
    <a href="<%= receipt.url%>"><img src="<%= receipt.url%>" id = 'receipt_img'></a><br>
    <a href="/receipt/<%=receipt.id %>/edit"> Edit</a>
    <a href="/receipt/<%=receipt.id %>/delete"> Delete</a>
  </div>


