  <div class='showbox'>
    <%= receipt.title %>
    <%= receipt.content %>
    <a href="<%= receipt.url%>"><img src="<%= receipt.url%>" id = 'receipt_img'></a><br>
    <a href="/receipts/<%=receipt.id %>/edit"> Edit</a>
    <a href="/receipts/<%=receipt.id %>" class="delete"> Delete</a>
  </div>


